
@model List<Company>
@{
}


<h2>Companies</h2>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
        </tr>
        @foreach (var company in Model)
        {
            if (company != null)
            {
                <tr>
                    <td>@company.Name</td>
                    <td>@company.PhoneNumber</td>
                    <td>@company.Email</td>
                </tr>
            }
        }
    </table>
}
else
{
    <p>@ViewBag.Message</p>
}

