@model Licensing.Models.Company
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form asp-controller="Companies" asp-action="Update" method="post">
    <div class="form-group">
        <label asp-for="Name">Company Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhoneNumber">Phone</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit">Update Company</button>
</form>